body {
  margin: 0;
  height: 100vh;
  font-family: 'Cairo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text-color: black;
  --secondary-color: #AA14F0;
  --tertiary-color: #BC8CF2;
  --primary-color: indigo;
  --accent-color: #EEEEEE;
}